*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container   {
 width: 600px;
 padding: 20px;
 margin: 100px auto;
 background-color:white;
 border:1px solid black;
 border-radius: 10px;
}
.card {
  width: 180px;
}
img {
  width: 30px;
}
