*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container   {
 width: 600px;
 padding: 20px;
 margin: 100px auto;
 background-color:aquamarine;
}
.card {
  width: 180px;
  border: 1px solid aqua;
}
img {
  width: 100px;
}
